body{
    background-image: url(./image/cripto2.jpg );
    background-size: cover;
    background-repeat: no-repeat;
    

  }
  
  .parrent{
      width: 1280px;
      margin: 200px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      
      
      h1 {
          text-align: center;
          font-size: 40px;
          color: #ffffff;
          
        }
        
        .container {
          display: flex;
          justify-content: center;
          gap: 10px;
          max-width: 600px;
          margin: 0px auto;
          margin-bottom: 20px;
          
        }
        
        .box {
          height: 30px;
          width: 90px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid ;
          border-color: #FEE36D;
          font-size: 25px;
          cursor: pointer;
          border-radius: 10px;
          transition: 0.2s ease-in-out;
          padding: 10px;
          color: #ffffff;
          font-weight: 700;
          margin-top: 20px;
        }
        .box:hover {
          background-color: #000661;
          color: white;
          transition: 0.2s ease-in-out;
          transform: scale(1.08);
        }

        .spcontainer{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 82px;
          color: #ffffff;
          font-weight: 600;
          font-size: 30px;
        }


        input[type=number] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
           
          }

          button{
            background-color: transparent;
            color: #ffffff;
            border: none;
            font-size: 18px;
          }